.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form_Bg{
  height:250px;
  background-color:#ebebeb;
  border-bottom: 3px solid #00363a;
}

@import url('https://fonts.googleapis.com/css?family=Kavivanar|Permanent+Marker');
body,
h1 {
  font-family: 'Permanent Marker', sans-serif;
}

label,
button,
option {
  font-family: 'Kavivanar', cursive;
}

.done {
  text-decoration: line-through;
  color: grey;
}